.Esim {
    max-width: 1680px;
    margin: auto;
}

.e-head {
    font-size: 36px;
    margin: 24px 0px 32px 0px;
}

.esim-search {
    padding: 24px;
    border-radius: 24px;
    border: 1.5px solid #00000026;
}

.esim-search b {
    font-size: 24px;
}

.esim-btns {
    margin: 20px 0px;
    display: flex;
    gap: 14px;
}

.esim-btns button {
    padding: 10.5px 16px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #F5F5F9;
    color: #000;
    transition: background-color 0.2s, color 0.2s;
}

.esim-btns button.active {
    background-color: #2D85EA;
    color: #fff;
}

.esim-inpt {
    background-color: #F5F5F9;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 8px;
}

.esim-inpt input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.esim-search ul {
    overflow: auto;
    height: 270px;
    margin-top: 14px;
}

.esim-search ul::-webkit-scrollbar {
    width: 5px;
    padding: 0px 15px;
}

.esim-search ul::-webkit-scrollbar-track {
    background: #F5F5F9;
}

.esim-search ul::-webkit-scrollbar-thumb {
    background-color: #5682FF;
    border-radius: 10px;
}

.esim-search ul li {
    padding: 13px 0px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.esim-search ul li span {
    font-weight: 500;
}

.esim-search ul li.selected {
    background: #f5f5f9;
    border-radius: 8px;
}

.esim-grid {
    margin-top: 56px;
}

.e-head.e2 {
    margin-bottom: 26px;
    font-size: 32px;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 100px;
}

.esim {
    padding: 24px;
    border-radius: 24px;
    border: 1.5px solid #00000026;
}

.esim-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.esim-flex b {
    font-size: 32px;
}

.data-flex div {
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    font-weight: 500;
}

.esim-price {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-top: 24px;
}

.esim button {
    background-color: #2D85EA;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 11px;
    margin-top: 24px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    outline: none;
}