.Esim {
    max-width: 1680px;
    margin: auto;
}

.e-head {
    font-size: 36px;
    margin: 24px 0px 32px 0px;
}

.esim-search {
    padding: 24px;
    border-radius: 24px;
    border: 1.5px solid #00000026;
}

.esim-search b {
    font-size: 24px;
}

.esim-btns {
    margin: 20px 0px;
    display: flex;
    gap: 14px;
}

.esim-btns button {
    padding: 10.5px 16px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #F5F5F9;
    color: #000;
    transition: background-color 0.2s, color 0.2s;
}

.esim-btns button.active {
    background-color: #2D85EA;
    color: #fff;
}

.esim-inpt {
    background-color: #F5F5F9;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 8px;
}

.esim-inpt input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.esim-search ul {
    overflow: auto;
    height: 270px;
    margin-top: 14px;
}

.esim-search ul::-webkit-scrollbar {
    width: 5px;
    padding: 0px 15px;
}

.esim-search ul::-webkit-scrollbar-track {
    background: #F5F5F9;
}

.esim-search ul::-webkit-scrollbar-thumb {
    background-color: #5682FF;
    border-radius: 10px;
}

.esim-search ul li {
    padding: 13px 0px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.esim-search ul li span {
    font-weight: 500;
}

.esim-search ul li.selected {
    background: #f5f5f9;
    border-radius: 8px;
}

.esim-grid {
    margin-top: 56px;
}

.e-head.e2 {
    margin-bottom: 26px;
    font-size: 32px;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 100px;
}

.esim {
    padding: 24px;
    border-radius: 24px;
    border: 1.5px solid #00000026;
}

.esim-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.esim-flex b {
    font-size: 32px;
}

.data-flex div {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.d-flex-div {
    padding: 18px 0px;
}

.esim-price {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-top: 24px;
}

.esim button {
    background-color: #2D85EA;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 11px;
    margin-top: 24px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    outline: none;
}

.payment-form {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(5px);
    background: hsl(0, 0%, 0%, 0.5);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
}

.payment-form.showform {
    pointer-events: all;
    opacity: 1;
}

.payment-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    gap: 26px;
    padding: 32px;
    border-radius: 24px;
    width: 1160px;
}

.close-payment {
    cursor: pointer;
}

.pay-h {
    font-size: 24px;
    font-weight: 500;
}

.pay-data {
    background-color: #F5F5F9;
    padding: 10px 16px 10px 16px;
    border-radius: 16px;
    margin-top: 20px;
}

.pay-data div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.pay-data div {
    padding: 18px 0px;
}

.pay-data div:last-child {
    font-size: 18px;
    font-weight: 600;
}

.pay-desc {
    color: #000000CC;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    max-width: 440px;
}

.pay-data2 {
    padding: 30px 24px;
    border-radius: 24px;
    border: 1.5px solid #00000026;
}

.pay-inputs {
    margin-top: 24px;
}

.pay-inputs input {
    margin-top: 8px;
    width: 100%;
    background: none;
    border-radius: 8px;
    border: 1px solid #00000026;
    font-size: 16px;
    padding: 12.5px 16px;
}

.pay-label {
    font-weight: 500;
    font-size: 15px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    /* spacing between box and text */
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    font-weight: 500;
    color: #121417;
    line-height: 1.4;
    position: relative;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: 1.5px solid #DADDE6;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
}

.checkbox:hover .checkmark {
    border-color: #C6CBD6;
}

.checkbox input:checked+.checkmark {
    background-color: #2D85EA;
    border-color: #2D85EA;
}

.pay-btn {
    margin-top: 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    padding: 11px;
    cursor: pointer;
    border: none;
    color: white;
    background: #2D85EA;
}

.conts-list {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(5px);
    background: hsl(0, 0%, 0%, 0.5);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 0.3s;
}

.conts-list.showtariff {
    pointer-events: all;
    opacity: 1;
}

.conts-list span {
    font-size: 24px;
    font-weight: 500;
}

.conts-list ul {
    background: white;
    width: 910px;
    padding: 32px;
    border-radius: 24px;
}

.list-auto {
    overflow: auto;
    height: 540px;
    margin-top: 14px;
}

.list-auto::-webkit-scrollbar {
    width: 5px;
    padding: 0px 15px;
}

.list-auto::-webkit-scrollbar-track {
    background: #F5F5F9;
}

.list-auto::-webkit-scrollbar-thumb {
    background-color: #5682FF;
    border-radius: 10px;
}

.pay-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}