.help-desc {
    color: #00000099;
    display: flex;
    margin-top: 16px;
    max-width: 317px;
}

.faqs {
    max-width: 850px;
    margin: 31px auto 124px auto;
}

.faq-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

.f-flex-block {
    margin-left: 32px;
    display: flex;
    gap: 12px;
}

.faq-flex span {
    font-weight: bold;
    border: 1px solid #00000026;
    font-size: 14px;
    padding: 9.5px 12px;
    border-radius: 10px;
}

.faq {
    margin: 31px auto auto auto;
    max-width: 672px;
}

.faq svg {
    min-width: 24px;
    min-height: 24px;
}

.faq p {
    font-weight: bold;
}

.faq span {
    color: #00000099;
    display: flex;
    max-width: 620px;
    font-size: 14px;
    margin-top: 14px;
}

.quest {
    margin-bottom: 36px;
}

@media(max-width: 425px) {
    .f-flex-block {
        flex-direction: column;
    }

    .faq-flex {
        align-items: initial;
        gap: 0px;
    }

    .f-flex-block span {
        width: fit-content;
    }
}