.Navbar {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 51px;
    padding: 17px 0px;
    z-index: 1;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-ul.ul2 li {
    display: flex;
}

.nav-ul li a {
    color: black;
    position: relative;
    font-size: 14px;
    font-weight: 500;
}

.nav-ul li button {
    background: none;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    gap: 12px;
    font-size: 14px;
    font-weight: 400;
}

.nav-ul li a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-ul.ul2 {
    margin-left: auto;
}

.nav-ul.ul2 li:last-child {
    display: none;
}

.nav-ul li a.active,
.sidebar li a.active,
.nav-ul li a.activeHelp,
.nav-ul li a.activeHelp svg path {
    color: #2D85EA;
    stroke: #2D85EA;
}

.nav-ul li a.active::before,
.sidebar li a.active::before {
    background: #2D85EA;
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 1px;
}

.profile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    transition: 0.3s;
}

.profile.show {
    pointer-events: all;
    opacity: 1;
}

.prof-block {
    background-color: white;
    border-radius: 16px;
    width: 400px;
    padding: 18px 18px 32px 18px;
}

.prof-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prof-flex span {
    font-size: 18px;
    font-weight: 600;
}

.prof-block input,
.token {
    outline: none;
    cursor: auto;
    border: 1px solid #00000026;
    font-size: 16px;
    width: 100%;
    padding: 12.5px 16px;
    font-weight: 400;
    border-radius: 8px;
    transition: 0.3s;
}

.token {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.prof-block p {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
}

.prof-block .token-inp {
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.tkn-spn {
    color: #00000099;
    text-transform: uppercase;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 14px;
}

.copied {
    position: absolute;
    text-align: center;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 11.5px 44.5px;
    background-color: white;
    border: 1px solid #00000026;
    border-radius: 10px;
    font-size: 12px;
}

.logout {
    color: white;
    background-color: #ED2428;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;
    width: 100%;
    margin-top: 20px;
}

.sidebar {
    background-color: white;
    position: fixed;
    display: none;
    top: 60px;
    left: 0%;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 1;
    padding: 0px 60px;
    z-index: 2;
}

.sidebar.moveleft {
    display: flex;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 33px 0px;
}

.sidebar ul li a {
    color: black;
    position: relative;
    font-size: 24px;
    font-weight: 600;
}

.balance {
    color: white;
    background-color: #2D85EA;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1.5px solid #00000026
}

.nav-search input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}

@media(min-width: 1740px) {
    .Navbar {
        width: 1680px;
        margin: auto;
    }
}

@media(max-width: 1440px) {
    .Navbar {
        padding: 17px 80px;
    }
}

@media(max-width: 1024px) {
    .Navbar {
        gap: 32px;
        padding: 17px 60px;
    }

    .nav-ul {
        display: none;
        gap: 8px;
    }

    .nav-ul.ul2 {
        display: flex;
    }

    .nav-ul.ul2 li:last-child {
        display: flex;
    }

    .nav-ul.ul2 li:nth-child(3) {
        display: none;
    }

    .sidebar {
        padding: 0px 60px;
    }
}

@media(max-width: 768px) {
    .Navbar {
        padding: 12px 32px;
    }

    .sidebar {
        padding: 0px 32px;
    }
}

@media(max-width: 425px) {
    .nav-ul.ul2 li:nth-child(1) {
        display: none;
    }

    .Navbar {
        padding: 12px 16px;
    }

    .sidebar {
        padding: 0px 16px;
    }
}