.operator-top {
    max-width: 1680px;
    margin: 24px auto auto auto;
}

.operator-top h1 {
    font-size: 26px;
    margin-bottom: 16px;
}

.operator-flex {
    display: flex;
    gap: 24px;
}

.operator-flex a {
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 200px;
}

.operator-flex a img {
    width: 100%;
    margin-bottom: 12px;
}

.table-oper,
#oper-trans {
    max-width: 1680px;
}

.row-titles.oper-row {
    grid-template-columns: 1fr 1fr 125px 1fr 1fr 1fr 1fr 1fr 120px;
}

.oper-head {
    margin-top: 39px;
    padding: 32px;
    border-radius: 24px;
    max-width: 552px;
    border: 1.5px solid #00000026;
}

.oper-head h1 {
    font-size: 24px;
}

.oper-flex-block {
    display: flex;
    justify-content: space-between;
    gap: 68px;
}

.oper-balance {
    padding: 32px;
    width: 566px;
    border-radius: 16px;
    border: 1.5px solid #00000026;
}

@media(min-width: 1740px) {
    .oper-flex-block {
        width: 1680px;
    }
}

@media(max-width: 1440px) {
    .oper-balance {
        width: 420px;
    }
}

@media(max-width: 1024px) {
    .oper-flex-block {
        flex-direction: column;
        gap: 24px;
    }

    .oper-balance {
        width: 100%;
    }
}

@media(max-width: 425px) {
    .operator-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}