.chart-grid.reports-grid .row-titles.row-reports {
    grid-template-columns: repeat(4, 1fr);
}

.chart-grid.reports-grid .row-titles.row-data {
    grid-template-columns: repeat(4, 1fr);
}

.chart-grid.reports-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* 🔑 */
    gap: 20px;
}

.reports-auto {
    height: 596px;
    overflow: auto;
}

.reports-auto::-webkit-scrollbar {
    width: 5px;
}

.reports-auto::-webkit-scrollbar-track {
    background: #F5F5F9;
}

.reports-auto::-webkit-scrollbar-thumb {
    background-color: #5682FF;
    border-radius: 10px;
}