.transhome h1 {
    font-size: 36px;
    margin: 24px 0px 20px 0px;
}

.trans-filter {
    padding: 32px 20px;
    border-radius: 16px;
    margin-top: 24px;
    border: 1.5px solid #00000026;
}

.filter-h {
    font-size: 18px;
    font-weight: 500;
}

.filter-flex {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.filter-b {
    display: flex;
    flex-direction: column;
}

.filter-b select {
    -webkit-appearance: none;
    width: 320px;
    padding: 11.5px 16px;
    outline: none;
    border: 1px solid #00000026;
    border-radius: 8px;
}

.filter-b .filt-arr {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 92.5%;
    transform: translate(-50%, -50%);
}

.search-filt {
    display: flex;
    align-items: center;
    border: 1px solid #00000026;
    border-radius: 8px;
    padding: 11.5px 16px;
    height: 41px;
    gap: 6px;
}

.search-filt input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}

.b-flex {
    flex-direction: row;
    display: flex;
}

.b-flex button {
    height: 41px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #2D85EA;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0px 0px 16px;
    padding: 11px 37px;
    border-radius: 8px;
}

.b-flex button:nth-child(3) {
    background: none;
    color: #2D85EA;
    padding: 11px 0px;
}