.transactions-container {
    padding: 20px 20px 20px 20px;
    border-radius: 16px;
    width: 100%;
    border: 1px solid #00000026;
}

.table-viewport {
    height: 100%;
}

.table-viewport::-webkit-scrollbar {
    height: 5px;
}

.table-viewport::-webkit-scrollbar-thumb {
    background-color: #5682FF;
    border-radius: 8px;
}

.table-viewport::-webkit-scrollbar-track {
    background-color: #F5F5F9;
}

table {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.trans-head {
    margin-bottom: 18px;
}

.tb-head {
    font-size: 18px;
    font-weight: 500;
    width: fit-content;
}

.row-titles {
    background: #F5F5F9;
    color: #00000099;
    display: grid;
    align-items: center;
    gap: 46px;
    font-weight: 400;
    border-radius: 6px;
    padding: 6px 13px;
    font-size: 12px;
}

.row-titles.topup {
    grid-template-columns: repeat(5, 1fr);
}

.row-titles.buy {
    grid-template-columns: repeat(8, 1fr);
}

.row-titles.row-data {
    color: black;
    background: none;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 10px;
}

.row-titles.row-data.topup {
    height: 46px;
}

.row-titles.row-data:not(:last-child) {
    margin-bottom: 20px;
}

.status-block p {
    text-align: initial;
    width: fit-content;
}

table tr p {
    text-align: center;
    width: 100%;
}

table .status-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.trans-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 550px;
}

.pags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 24px 0px 89px 0px;
}

.pags button {
    cursor: pointer;
    border-radius: 4px;
    border-width: 1px;
    font-size: 13px;
    height: 36px;
    width: 36px;
}

.pags button.active-btn {
    background: #2D85EA;
    color: white;
    border: none;
    outline: none;
}

.pags button.inactive-btn {
    color: black;
    background: none;
    border: 1px solid #00000026;
}

.trans-load {
    margin-top: 24px;
}

.grid-load {
    display: grid;
    gap: 9px;
    grid-template-columns: repeat(8, 1fr);
}

.grid-load div {
    min-height: 32px;
}

.loads {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1.5px solid #00000026;
    padding: 10px 38px 10px 16px;
    border-radius: 8px;
}

.search input {
    border: none;
    outline: none;
    background-color: none;
    font-size: 14px;
    font-weight: 500;
}

.page-head .hide-xls {
    background-color: #7ebaff;
    border-color: #7ebaff;
    cursor: not-allowed;
}

.loading-grid {
    display: grid;
    gap: 9px;
    grid-template-columns: repeat(6, 1fr);
}

.loading-grid.buyload {
    grid-template-columns: repeat(8, 1fr);
}

.table-viewport {
    position: relative;
    min-height: 300px;
}

.table-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
}

.table-message p {
    margin: 0;
}

@media(min-width: 1740px) {
    .transactions-container {
        width: 1680px;
        margin: auto;
    }

    .transactions-container.oper-trans {
        width: 1680px;
    }
}

@media(max-width: 1024px) {
    .row-titles.row-data {
        font-size: 12px;
    }

    .status-cell p {
        display: none;
    }

    .status-block {
        justify-content: center;
    }

    .table-viewport {
        overflow: auto;
    }

    table {
        width: 1400px;
    }
}

@media(max-width: 425px) {
    .page-head.trans-head {
        display: flex;
    }

    .page-head.trans-head button span {
        display: none;
    }

    .search-table {
        gap: 14px;
    }

    .search-table.search-earn {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .status-cell {
        justify-content: center;
    }
}