.transactions-container {
    padding: 20px 20px 34px 20px;
    border-radius: 16px;
    width: 100%;
    height: 734px;
    overflow: hidden;
    border: 1px solid #00000026;
}

.transactions-container::-webkit-scrollbar {
    width: 5px;
    padding: 0px 15px;
}

.transactions-container::-webkit-scrollbar-track {
    background: #F5F5F9;
}

.transactions-container::-webkit-scrollbar-thumb {
    background-color: #5682FF;
    border-radius: 10px;
}

.table-viewport {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.table-viewport::-webkit-scrollbar:horizontal {
    display: none;
}

.table-viewport::-webkit-scrollbar {
    width: 5px;
}

.table-viewport::-webkit-scrollbar-track {
    background: #F5F5F9;
    border-radius: 8px;
}

.table-viewport::-webkit-scrollbar-thumb {
    background-color: #5682FF;
    border-radius: 8px;
}

table {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.trans-head {
    margin-bottom: 18px;
}

.tb-head {
    font-size: 18px;
    font-weight: 500;
    width: fit-content;
}

.row-titles {
    background: #F5F5F9;
    color: #00000099;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
    font-weight: 400;
    height: 36px;
    border-radius: 6px;
    font-size: 12px;
    padding: 0px 13px;
}

.row-titles.row-data {
    color: black;
    background: none;
    font-size: 13px;
    font-weight: 500;
}

.row-titles.row-data:not(:last-child) {
    margin-bottom: 20px;
}

table tr p {
    text-align: center;
    width: 100%;
}

table .status-cell {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 8px;
}

.trans-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

table tr div p {
    width: fit-content;
}

table tr p:last-child {
    text-align: right;
}

table tr p:first-child {
    text-align: left;
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 550px;
}

.pags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 24px 0px 108px 0px;
}

.pags button {
    cursor: pointer;
    border-radius: 4px;
    border-width: 1px;
    font-size: 13px;
    height: 36px;
    width: 36px;
}

.pags button.active-btn {
    background: #2D85EA;
    color: white;
    border: none;
    outline: none;
}

.pags button.inactive-btn {
    color: black;
    background: none;
    border: 1px solid #00000026;
}

.trans-load {
    margin-top: 24px;
}

.grid-load {
    display: grid;
    gap: 9px;
    grid-template-columns: repeat(9, 1fr);
}

.grid-load div {
    min-height: 32px;
}

.loads {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1.5px solid #00000026;
    padding: 10px 38px 10px 16px;
    border-radius: 8px;
}

.search input {
    border: none;
    outline: none;
    background-color: none;
    font-size: 14px;
    font-weight: 500;
}

@media(max-width: 768px) {
    .row-titles.row-data {
        font-size: 12px;
    }

    .status-cell p {
        display: none;
    }

    .transactions-container {
        max-width: 100%;
    }

    table {
        width: 900px;
    }

    table .status-cell {
        width: initial;
    }
}

@media(max-width: 425px) {
    .page-head.trans-head {
        display: flex;
    }

    .page-head.trans-head button span {
        display: none;
    }

    .search-table {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
        width: fit-content;
        gap: 14px;
    }

    .search-table.search-earn {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .status-cell {
        justify-content: center;
    }
}